.App {
  text-align: center;
  /* background-image: url('https://www.traveldudes.org/sites/default/files/offthepath.jpg');
  background-size: cover; */
}

/* body {
  background-image: url('https://www.traveldudes.org/sites/default/files/offthepath.jpg');
  background-size: cover;
} */



.links {
  display: flex;
  justify-content: space-evenly;
}

.Sign-link {
  text-decoration: none;
  color: black;
}

.Login-link {
  text-decoration: none;
  color: black;
}