.login-page {
    border: 1px solid black;
    width: 600px;
    height: 350px;
    background-color: white;
    margin-left: 435px;
    border-radius: 5px;
}

.login-img {
    width: 600px;
    height: 230px;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 5px;
}

.key-img {
    background-color: #81700C;
    width: 600px;
    height: 230px;
    margin-left: 435px;
    margin-top: 50px;
}

.login-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-shadow: 1px 1px black;
    color: #B1C267;
    padding-top: 10px;
}

.login-text h3 {
    margin: 0;
    margin-bottom: 10px;
}

.login-username {
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-top: 10px 
}

.login-username::placeholder {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: bolder;
}

.login-password::placeholder {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 20px;
}

.login-password {
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-top: 10px
}